[Desktop Entry]
Name=Amlogic Firmware Tool
Comment=Burn Amlogic firmware images to SD cards
Exec=gnome-terminal -- bash -c "/opt/aml-firmware-tool/amlogic_firmware_tool.sh" --wait
Icon=/usr/share/icons/amlogic.png
Terminal=true
Type=Application
Categories=Utility;Development;
